<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6HxhWqi3qvon8Y556b1zVtDQ-juk0vcI</string>
	<key>GCM_SENDER_ID</key>
	<string>576803604540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taiwanswim.taiwanswimGetxApp</string>
	<key>PROJECT_ID</key>
	<string>taiwanswim-app</string>
	<key>STORAGE_BUCKET</key>
	<string>taiwanswim-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576803604540:ios:84fbffe00e4e0f13c4db39</string>
</dict>
</plist>